# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# OS metadata
.DS_Store
Thumbs.db

# Editor metadata
.vscode/
!.vscode/extensions.json
!.vscode/settings.json
.idea/

# dependencies
node_modules/

# Keep environment variables out of version control
.env.local
.env.*.local

# sensitive files
*.pem
*.swp
